<a href="https://colab.research.google.com/github/Impossiblepretext/Experiment_No.7/blob/main/Experiment_No_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Experiment No.7

Title: To study loops in Python

Name: Vibhas Shukla

PRN: 25070123164

Batch: F.Y Entc A1

In [ ]:
# While loop
# When the number of iterations is unknown
# print i as long as i less than 6
i=1
while i<6:
  print(i)
  i+=1

1
2
3
4
5

In [ ]:
#taking n input from user to print the numbers till n
n=int(input("Enter the number: "))
i=0
while i<=n:
  print(i)
  i+=1

Enter the number: 9
0
1
2
3
4
5
6
7
8
9

In [ ]:
#factorial of a number
n=int(input("Enter the number: "))
i=1
fact=1
while i<=n:
  fact=fact*i
  i+=1
print(fact)

Enter the number: 4
24

In [ ]:
#Fibonaaci series using while loop
n = int(input("Enter the number of itterations: "))
a = 0
b = 1
count = 1

while count <= n:
    print(a, end=" ")
    a, b = b, a + b
    count += 1

Enter the number of itterations: 5
0 1 1 2 3

In [ ]:
#Reverse of a number
num =input("Enter the number of itterations: ")
i=len(num)-1
while i>=0:
  print(num[i],end="")
  i=i-1

Enter the number of itterations: 123
321

In [ ]:
#check Palindrome number
st =input("Enter the string:")
st = st.lower()
rev = st[::-1]
if st==rev:
  print("Palindrome")
else:
  print("Not Palindrome")

Enter the string:Madam
Palindrome

In [ ]:
#Exit loop when i is 3
i=1
while i<6:
  print(i)
  if i==3:
    break
  i+=1

1
2
3

In [ ]:
#search an item on the list
nums=[10,20,30,40,50]
n=int(input("Enter the number"))
while True:
  if n in nums:
    print("yes ")
    break
else:
  print("no")

Enter the number40
yes

In [ ]:
#print numbers from 1 to 10 (skip 5)
i=1
while i<=10:
  if i==5:
    i+=1
    continue
  print(i,end=" ")
  i+=1

1 2 3 4 6 7 8 9 10

In [ ]:
#print only odd number from 1 to 10
i=1
while i<=10:
  if i%2==0:
    i+=1
    continue
  print(i,end=" ")
  i+=1

1 3 5 7 9

## For Loops

In [ ]:
# printing 1 to 5 using for loop
i=1
for i in (range(1,6)):
  print(i,end=" ")

1 2 3 4 5

###For loop using break, continue and pass are same as with while loop

In [ ]:
#print even numbers from 1 to 10
i=1
for i in range(2,11,2):
  print(i,end=" ")

2 4 6 8 10

In [ ]:
#sum of first n numbers
n=int(input("Enter the numbers:"))
sum=0
for i in range(0,n+1):
  sum=sum+i
print("the sum is:",sum)

Enter the numbers:4
the sum is: 10

In [ ]:
#nested for
for i in range(1,4):
  for j in range(1,4):
    print(i,j)

1 1
1 2
1 3
2 1
2 2
2 3
3 1
3 2
3 3

In [ ]:
#3x3 matrix display
a=[[1,2,3],[4,5,6],[7,8,9]]
for i in range(3):
  for j in range(3):
    print(a[i][j],end=" ")
  print()

1 2 3
4 5 6
7 8 9

In [ ]:
# Matrix Multiplication with User Input

# Input size of first matrix
r1 = int(input("Enter number of rows of Matrix A: "))
c1 = int(input("Enter number of columns of Matrix A: "))

# Input size of second matrix
r2 = int(input("Enter number of rows of Matrix B: "))
c2 = int(input("Enter number of columns of Matrix B: "))

# Check if multiplication is possible
if c1 != r2:
    print("Matrix multiplication not possible!")
else:
    # Input Matrix A
    print("Enter elements of Matrix A:")
    A = []
    for i in range(r1):
        row = []
        for j in range(c1):
            row.append(int(input(f"A[{i}][{j}]: ")))
        A.append(row)

    # Input Matrix B
    print("Enter elements of Matrix B:")
    B = []
    for i in range(r2):
        row = []
        for j in range(c2):
            row.append(int(input(f"B[{i}][{j}]: ")))
        B.append(row)

    # Initialize Result Matrix with zeros
    result = []
    for i in range(r1):
        result.append([0] * c2)

    # Matrix Multiplication
    for i in range(r1):
        for j in range(c2):
            for k in range(c1):
                result[i][j] += A[i][k] * B[k][j]

    # Print Result
    print("Product of matrices:")
    for row in result:
        print(row)

In [ ]:
#accept 3 digit no and print all possible combinations
n=input("Enter the 3 digit number:")
digit=list(n)
for i in range(3):
  for j in range(3):
    for k in range(3):
      if (i!=j and j!=k and i!=k):
        print(digit[i]+digit[j]+digit[k])

Enter the 3 digit number:123
123
132
213
231
312
321

In [ ]:
#print the armstong number
n=input("Enter the number:")
digit=list(n)
num=int(n)
u=0
for i in range(len(digit)):
  u+=int(digit[i])**3
if u==num:
  print(num,"is armstrong number")
else:
  print(num,"is not an armstorng number")

Enter the number:153
153 is armstrong number

In [ ]:
#Print all prime numbers
n=int(input("Enter the range:"))
for num in range(2,n):
  for k in range(2,num):
    if num%k==0:
      break
  else:
    print(num)

Enter the range:50
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

In [ ]:
n=5
for i in range(n+1):
  print(i*" *",end="\n")

 *
 * *
 * * *
 * * * *
 * * * * *

In [ ]:
#inverted half pyramid shape
n=5
for i in reversed(range(n+1)):
  print(i*" *",end="\n")

 * * * * *
 * * * *
 * * *
 * *
 *

In [ ]:
n=6
for i in reversed(range(n)):
  print(i*" ",(n-i)*" *")

       *
      * *
     * * *
    * * * *
   * * * * *
  * * * * * *

In [ ]:
#floyd series
n=5
num=1
for i in range(n):
  for j in range(i):
    print(num,end=" ")
    num+=1
  print()

1
2 3
4 5 6
7 8 9 10